.container {
    // margin-right: 150px;
}

.bg {
    background-color: rgb(84, 84, 232);
}


#button{
    color: 	rgb(220,220,220);
}

#buttons{
    color: black;
    margin: 10px;
    // font-size: 20px;
}